.login {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px 20px;
  background: rgb(252, 252, 252);
  box-shadow: 1px 15px 35px rgba(20, 20, 20, 0.2);

  h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(13, 153, 196);
  }

  .ant-form-item-required {
    display: none;
  }
}
