.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 11px;
  padding: 0 15px;
  background-color: rgb(246, 247, 248);
  box-shadow: 1px 2px 3px rgb(105, 147, 201);
  border-radius: 6px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none !important;
  }

  .done {
    text-decoration: line-through;
  }

  h3 {
    margin-bottom: 0;
  }

  .content {
    width: 70%;
    cursor: pointer;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  .description {
    margin-bottom: 0;
  }
}
