.options {
  align-self: flex-end;
  margin-bottom: 4px;

  .option {
    padding: 6px;
    margin-left: 2px;
    color: black;
    font-size: 14px;
    background: 0;
    border: 0;
    cursor: pointer;

    &__delete {
      color: red;
    }
  }

  label {
    margin-left: 5px;
  }
}
