.options {
  align-self: flex-end;
  margin-bottom: 4px;
  .option {
    padding: 6px;
    margin-left: 6px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: 0;
    border: 0;
    cursor: pointer;

    &__edit {
      color: rgb(3, 201, 207);
    }

    &__delete {
      color: rgb(238, 3, 3);
    }
  }
}
