.options {
  margin-bottom: 0;

  .option {
    padding: 6px;
    margin-left: 2px;
    color: black;
    font-size: 14px;
    background: 0;
    border: 0;
    cursor: pointer;
  }

  label {
    margin-left: 5px;
  }
}
