.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 35px;
  background-color: rgb(253, 253, 253);
  border-radius: 12px;

  @media (max-width: 576px) {
    width: 320px;
    height: 250px;
    padding: 15px;
  }

  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }

  p {
    font-family: 'Roboto';
    font-size: 26px;
    margin: 0 auto 20px auto;
    color: #2997f1;
  }
}
