.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 35px;
  background-color: rgb(253, 253, 253);

  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }

  p {
    font-family: "Roboto";
    font-size: 26px;
    margin: 0 auto 20px auto;
    color: rgb(26, 69, 199);
  }

  label {
    font-family: "Roboto";
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    width: 60%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid black;
  }

  button {
    width: 90px;
    height: 35px;
    margin-top: 30px;
    color: white;
    background-color: royalblue;
    outline: 0;
    border: 3px solid rgb(26, 69, 199);
  }
}
