.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  padding: 35px;
  background-color: rgb(253, 253, 253);
  border-radius: 12px;

  @media (max-width: 576px) {
    width: 320px;
    height: 250px;
    padding: 15px;
  }

  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }

  p {
    font-family: 'Roboto';
    font-size: 26px;
    margin: 0 auto 20px auto;
    color: #50b7d1;
  }

  label {
    font-family: 'Roboto';
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    width: 60%;
    height: 36px;
    padding: 0 10px;
    border: 1px solid rgb(71, 71, 71);

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  button {
    width: 90px;
    height: 35px;
    margin-top: 30px;
    color: white;
    background-color: rgb(126, 188, 218);
    outline: 0;
    border: 3px solid#50b7d1;
  }
}
