* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: linear-gradient(120deg, #d9f3f0 0%, #dfe9f3 100%);
}
